{% load static %}
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <ul class="header__top__widget">
                        {% for header in top_headers %}
                            <li><i class="fa fa-clock-o"></i> Week day: {{ header.shift }}</li>
                            <li><i class="fa fa-envelope-o"></i> {{ header.email }}</li>
                        {% empty %}
                            <li>No header info available.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="header__top__right">
                        <div class="header__top__phone">
                            <i class="fa fa-phone"></i>
                            {% for header in top_headers %}
                                <span>{{ header.phone }}</span>
                            {% endfor %}
                        </div>
                        <div class="header__top__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            {% for menu in menus %}
                                <li ><a href="{% url 'MenuDetailMethod' menu.id %}">{{menu.MenuNameEN}}</a></li>
                            {% endfor %}
                            {% for menu2 in menus2 %}
                                <li ><a href="{% url 'MenuDetailMethod2' menu2.id %}">{{menu2.MenuNameEN}}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="header__nav__widget">
                        <div class="header__nav__widget__btn">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                        </div>
                        <a href="#" class="primary-btn">Add Car</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <span class="fa fa-bars"></span>
        </div>
    </div>
</header>