{% load static %}
<section class="latest spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Our Blog</span>
          <h2>Latest News Updates</h2>
          <p>
            Sign up for the latest Automobile Industry information and more.
            Duis aute<br />
            irure dolorin reprehenderits volupta velit dolore fugiat.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
        {% for lastest_blog in lastest_blogs %}
      <div class="col-lg-4 col-md-6">
        <div class="latest__blog__item">
          <div
            class="latest__blog__item__pic set-bg"
            data-setbg="{{lastest_blog.image.url}}">
            <ul>
              <li>By {{lastest_blog.user}}</li>
              <li>{{lastest_blog.date}}</li>
              <li>Comment</li>
            </ul>
          </div>
          <div class="latest__blog__item__text">
            <h5>{{lastest_blog.commenttitle}}</h5>
            <p>{{lastest_blog.commenttext}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </div>
</section>
